agents
chromadb==0.3.23
duckdb==0.8.1
duckduckgo-search==3.8.3
huggingface-hub==0.15.1
langchain==0.0.13
nltk==3.8.1
numexpr==2.8.4
numpy
packaging==23.1
pandas
pipreqs==0.4.13
pycparser==2.21
pydantic==1.10.9
pydeck==0.8.1b0
PyPDF2==3.0.1
requests==2.31.0
scikit-learn
scipy
sentence-transformers==2.2.2
sentencepiece==0.1.99
streamlit
tokenizers==0.13.3
torch
transformers==4.30.2
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.6.3
wikipedia==1.4.0
